<head>
    <link rel="stylesheet" type="text/css" href="./app.component.css">
</head>
<div class="doe_sandgue">
<img src="../assets/doeSangue.jpg" />
</div>
<div class="gerenciador">
    <p class="title">Gerenciador de doadores</p>
    <div class="opcoes">
        <p>Selecione uma opção:</p>
        <label><input type="radio" name="opcao" value="opcao1"> Cadastrar Doadores</label> 
        <label><input type="radio" name="opcao" value="opcao2"> Quantidade doadores por tipo sanguineo</label>
        <label><input type="radio" name="opcao" value="opcao3"> Média de idade por tipo sanguineo</label>
        <label><input type="radio" name="opcao" value="opcao4"> Calcular média imc de 10 em 10 anos</label>
        <label><input type="radio" name="opcao" value="opcao5"> Percentual de possiveis doadores obesos</label>
        <label><input type="radio" name="opcao" value="opcao6"> Possiveis doadores por estado</label>
    </div>
    <button type="submit" class="btn_selecionar">Selecionar</button>
</div>




<div>

    <div *ngFor="let item of response1">
        <span>{{ item.estado }}</span>
        <span>{{ item.qtdDoadores }}</span>
        <hr>
    </div>
  </div>

  <div>

    <div *ngFor="let item of response2">
        <span>{{ item.faixaIdade }}</span>
        <br>
        <span>{{ item.mediaImc   }}</span>
        <hr>
    </div>
  </div>

  <div>

    <div *ngFor="let item of response3">
        <span>{{ item.sexo }}</span>
        <br>
        <span>{{ item.totalObesos }}</span>
        <br>
        <span>{{ item.qtdDoadores }}</span>
        <br>
        <span>{{ item.porcentagemObesos }}</span>
        <hr>
    </div>
  </div>

  <div>
    <div *ngFor="let item of response4">
        <span>{{ item.tipoSanguineo }}</span>
        <br>
        <span>{{ item.mediaIdade }}</span>
        <hr>
    </div>
  </div>

  <div>

    <div *ngFor="let item of response5">
        <span>{{ item.tipoSanguineo }}</span>
        <br>
        <span>{{ item.qtdPossiveisDoadores }}</span>
        <hr>
    </div>
  </div>
  <script>
    // Obtenha todos os radio buttons do grupo
    const radioButtons = document.querySelectorAll('input[type="radio"][name="opcao"]');

    // Adicione um ouvinte de evento a cada radio button
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('click', () => {
            // Desmarque todos os radio buttons quando qualquer um deles for clicado
            radioButtons.forEach(rb => {
                rb.checked = false;
            });
        });
    });
</script>
<router-outlet></router-outlet>
