{{title}}
<div>
    <h2>Doadores Por Estado:</h2>
    <div *ngFor="let item of response1">
        <span>{{ item.estado }}</span>
        <span>{{ item.qtdDoadores }}</span>
        <hr>
    </div>
  </div>

  <div>
    <h2>Calcular Media Imc:</h2>
    <div *ngFor="let item of response2">
        <span>{{ item.faixaIdade }}</span>
        <br>
        <span>{{ item.mediaImc   }}</span>
        <hr>
    </div>
  </div>

  <div>
    <h2>Percentual Pessoas Obesas:</h2>
    <div *ngFor="let item of response3">
        <span>{{ item.sexo }}</span>
        <br>
        <span>{{ item.totalObesos }}</span>
        <br>
        <span>{{ item.qtdDoadores }}</span>
        <br>
        <span>{{ item.porcentagemObesos }}</span>
        <hr>
    </div>
  </div>

  <div>
    <h2>Media de doadores por Tipo Sanguineo:</h2>
    <div *ngFor="let item of response4">
        <span>{{ item.tipoSanguineo }}</span>
        <br>
        <span>{{ item.mediaIdade }}</span>
        <hr>
    </div>
  </div>

  <div>
    <h2>Quantidade de Possiveis Doadores para cada Tipo Sanguineo:</h2>
    <div *ngFor="let item of response5">
        <span>{{ item.tipoSanguineo }}</span>
        <br>
        <span>{{ item.qtdPossiveisDoadores }}</span>
        <hr>
    </div>
  </div>

<router-outlet></router-outlet>
