<head>
    <link rel="stylesheet" type="text/css" href="./app.component.css">
</head>
<div class="doe_sandgue">
<img src="../assets/doeSangue.jpg" />
</div>
<div class="gerenciador">
    <p class="title">Gerenciador de doadores</p>
    <div class="opcoes">
        <p>Selecione uma opção:</p>
        <mat-radio-group [(ngModel)]="opcao_selecionada">
          <mat-radio-button class="radio" [value]=1>Cadastrar Doadores</mat-radio-button>
          <mat-radio-button class="radio" [value]=2>Quantidade de doadores por estado</mat-radio-button>
          <mat-radio-button class="radio" [value]=3>Média de idade por tipo sanguíneo</mat-radio-button>
          <mat-radio-button class="radio" [value]=4>Calcular média IMC a cada 10 anos</mat-radio-button>
          <mat-radio-button class="radio" [value]=5>Percentual de possíveis doadores obesos</mat-radio-button>
          <mat-radio-button class="radio" [value]=6>Possíveis doadores por cada tipo sanguíneo</mat-radio-button>      
        </mat-radio-group>
    </div>
    <button type="submit" class="btn_selecionar" (click)="verificarSelecao()">Selecionar</button>
</div>
<router-outlet></router-outlet>
